.my-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.center {
  position: relative;
  margin-left: auto;
  margin-top: 164px;
  max-width: 337px;
  margin-right: auto;
}
